@use '../../styles/vars';

.menuLeft {
  width: 20%;
  height: 90vh;
  border: 4px solid var(--theme-page-text);
  overflow-y: scroll;
}

.menuLeft-titre {
  position: fixed;
  top: 10px;
  left: 0;
  font-size: 1.2rem;
  text-align: center;
  width: 20%;
  height: 40px;
  border: 6px solid var(--theme-page-text);
  background: var(--theme-page-background);
  z-index: 2;
}



