.visualisationCode {
  background: transparent;
  width: 60%;
  border: 8px solid var(--theme-page-text);
  display: flex;
  flex-direction: column;
  height: 99vh;
  overflow-y: scroll;
  &-titre {
    margin-left: 5.6rem;
    background-color: var(--theme-page-background);
    color: var(--theme-page-text);
  }
  &-Label-description {
    margin-top: 1rem;
  }
  &-description {
    margin-left: 3rem;
    background-color: var(--theme-page-background);
    color: var(--theme-page-text);
  }
  &-Label-Color{
   display: none;
  }
  &-Color {
    display: none;
  }
  &-textarea {
    margin-top: 1rem;
    width: 93%;
    height: 65vh;
  }
}

pre, textarea {
  font-family: 'Inconsolata', monospace;
  tab-size: 2;
  margin: 1em 0px;
}

pre {
  background-color: #222 !important;
  border-radius: 5px;
  padding: 0.5rem;
  border: #fff solid 1px;
}

.preClass {
  width: 93%;
  height: 65vh;
  display: block;
  white-space: pre-wrap;
  overflow-y: scroll;
}

.preClass--close {
  display: none;
}

.textarea {
  display: none;
  width: 93%;
  height: 65vh;
  background-color: var(--theme-page-background);
  color: var(--theme-page-text);
  font-size: 1rem;
  padding: 0.5rem;
  &--open {
    display: block;
  }
}

.visualisationCode > label {
  margin-left: 3rem;
  margin-top: 1rem;
}

input[type=text] {
  border-bottom: 2px dashed;
  width: 50%;
}

.skill {
  width: 10%;
  height: 70%;
  margin-top: 1rem;
  margin-left: 4.5rem;
  border-radius: 10px;
}

.visualisationCode-button {
    color: var(--theme-page-text);
    border: 2px solid var(--theme-page-text);
    background: var(--theme-page-background);
    font-family: "EB Garamond", serif;
    font-weight: 800;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    right: 100px;
    & > span:first-child {
      font-size: 2rem;
      display: block;
    }
    &:hover {
      color: var(--theme-page-text-hover);
      border: 2px solid var(--theme-page-text-hover);
      background: var(--theme-page-background-hover);
  }
}

.visualisationCode-button:hover > .tooltip {
  visibility: visible;
  width: 80px;
  top: 50px;
  left: -10px;
}

a {
  color: var(--theme-page-text);
}

.visualisationCode-cadre-color {
  position: relative;
  height: 1%;
  width: 95%;
  margin-left: 2rem;
  border-radius: 15%;
}

.visualisationCode-button-div {
  width: 50px;
  height: 50px;
  background: transparent;
  position: absolute;
  right: 100px;
  top: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  z-index: 10;
  &:hover {
    box-shadow: 7px 7px 12px 3px var(--theme-page-text);
    & > .cube-top > .cube {
      animation: rotationCube 2s infinite;
    }
    & > .cube-bottom > .cube {
      animation: rotationCube 2s infinite;
    }
  }
}
@keyframes rotationCube {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.cube {
  width: 10px;
  height: 10px;
  background: var(--theme-page-text);
}

.cube-top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.cube-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cube-1 {
  visibility: hidden;
  width: 50px;
  height: 50px;
  background: var(--theme-page-text-hover);
  display: block;
  position: absolute;
  transition: left 500ms,top 500ms ease-in-out;
  left: 0;
  top: 0;
  z-index: 0;
  box-shadow: -7px 7px 10px 1px black;
  &--open {
    visibility: visible;
    top: -33px;
    left: -55px;
    z-index: 1;
    cursor: pointer;
    &:hover {
      background: var(--theme-page-text);
    }
  }
}

.cube-2 {
  visibility: hidden;
  width: 50px;
  height: 50px;
  background: transparent;
  display: block;
  position: absolute;
  transition: left 500ms,top 500ms ease-in-out;
  left: 0;
  top: 0;
  z-index: 0;
  box-shadow: -7px 7px 10px 1px black;
  &--open {
    visibility: visible;
    top: -33px;
    left: 55px;
    z-index: 1;
  }
}

.cube-3 {
  visibility: hidden;
  width: 50px;
  height: 50px;
  background: transparent;
  display: block;
  position: absolute;
  transition: left 500ms,top 500ms ease-in-out;
  left: 0;
  top: 0;
  z-index: 0;
  box-shadow: -7px 7px 10px 1px black;
  &--open {
    visibility: visible;
    top: 33px;
    left: -55px;
    z-index: 1;
    &:hover {
      background: var(--theme-page-text);
    }
  }
}

.cube-4 {
  visibility: hidden;
  width: 50px;
  height: 50px;
  background: var(--theme-page-text-hover);
  display: block;
  position: absolute;
  transition: left 500ms,top 500ms ease-in-out;
  left: 0;
  top: 0;
  z-index: 0;
  box-shadow: -7px 7px 10px 1px black;
  &--open {
    visibility: visible;
    top: 33px;
    left: 55px;
    z-index: 1;
    & > span {
      font-size: 2rem;
      color: var(--theme-page-text);
    }
    &:hover {
      background: var(--theme-page-text);
      & > span {
        color:var(--theme-page-text-hover) ;
      }
    }
  }
}