.visualisationCode {
  background: transparent;
  width: 60%;
  border: 4px solid var(--theme-page-text);
  display: flex;
  flex-direction: column;

  &-titre {
    margin-left: 5.6rem;
    background-color: var(--theme-page-background);
    color: var(--theme-page-text);
  }
  &-Label-description {
    margin-top: 1rem;
  }
  &-description {
    margin-left: 3rem;
    background-color: var(--theme-page-background);
    color: var(--theme-page-text);
  }
  &-Label-Color{
    margin-top: 1rem;
  }
  &-Color {
    margin-left: 5.5rem;
    width: 50%;
  }
  &-textarea {
    margin-top: 1rem;
    width: 93%;
    height: 65vh;
  }
}

pre, textarea {
  font-family: 'Inconsolata', monospace;
  tab-size: 2;
  margin: 1em 0px;
 
 
}
pre {
  background-color: #222 !important;
  border-radius: 5px;
  padding: 0.5rem;
}
.preClass {
  width: 93%;
  height: 65vh;
  display: block;
  white-space: pre-wrap;
  
}

.preClass--close {
  display: none;
}
.textarea {
  display: none;
  width: 93%;
  height: 65vh;
  background-color: var(--theme-page-background);
  color: var(--theme-page-text);
  font-size: 1rem;
  padding: 0.5rem;
  &--open {
    display: block;
  }
}

.visualisationCode > label {
  margin-left: 3rem;
}

input[type=text] {
  
  border-bottom: 2px dashed;
  width: 50%;
}

.skill {
  width: 10%;
  height: 70%;
  margin-top: 1rem;
  margin-left: 4.5rem;
  border-radius: 10px;

}

.visualisationCode-button {
    color: var(--theme-page-text);
    border: 2px solid var(--theme-page-text);
    background: var(--theme-page-background);
    font-family: "EB Garamond", serif;
    font-weight: 800;
    cursor: pointer;
    width: 10%;
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
    right: 100px;

    &:hover {
      color: var(--theme-page-text-hover);
      border: 2px solid var(--theme-page-text-hover);
      background: var(--theme-page-background-hover);
  }
}

a {
  color: var(--theme-page-text);
}