.visualisationCode {
  background: transparent;
  width: 60%;
  border: 4px solid var(--theme-page-text);
  display: flex;
  flex-direction: column;
}

pre, textarea {
  font-family: 'Inconsolata', monospace;
  tab-size: 2;
  margin: 1em 0px;
 
}
.preClass {
  width: 99%;
  height: 70vh;
  display: block;
}

.preClass--close {
  display: none;
}
.textarea {
  display: none;
  width: 99%;
  height: 70vh;
  &--open {
    display: block;
  }
}

.visualisationCode > label {
  margin-left: 3rem;
}

input[type=text] {
  margin-left: 3rem;
  border-bottom: 2px dashed;
  width: 50%;
}
